/* Reset the default css */
@import url(partials/_base.css);
/* Global styling */
@import url(./partials/_global.css);
/* CSS variables */
@import url(./partials/_variables.css);
/* reponsive styling */
@import url(./partials/_responsive.css);
/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

/* Navigation */
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    margin-top: 3rem;
    padding: 1rem 20rem;
}



.header_area .main-menu .logo{
    font-family: 'Bungee Inline', cursive;
    font-size: var(--heading-3-size);
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo:hover{
    transform: scale(1.1);
}

.header_area .main-menu .nav-item .nav-link{
    font: 500 var(--default-font-size) var(--roboto-mono);
    text-transform: uppercase;
    padding: 2rem;
    color: var(--color-black);
}

.header_area .main-menu .navbar-nav .active{
   background: var(--gradient-color);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_area .main-menu .navbar-nav :hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

/* End Navigation */

/* Banner Area */
.main .banner{
    height: 70vh;
    padding: 2rem 30rem;
}
.main .banner-title h3{
    align-content: center;
    font-weight: 400;
    font-size: var(--heading-3-size);
}

.main .banner-title h1{
    font-size: var(--heading-1-size);
}

.main .banner-title h4{
    font-size: var(--heading-4-size);
    padding-bottom: var(--gap-medium);
}

/* End Banner Area */

/* About Area */
.main .about-title h2>span{
    display: block;
    font-weight: 700;
    font-size: var(--heading-2-size);
    letter-spacing: 21px;
}

.main .about-title .paragraph>p{
    padding-top: .4rem;
}

.about .btn{
    margin-top: var(--gap-medium);
}
/* End About Area */

/* Project Area */

.project{
    margin-top: var(--gap-medium);
}

.project .project-title h2{
    font-size: var(--heading-2-size);
}

.card-item{
    padding-top: 2rem;
}
/* End Project Area */

/* End Contact Area */
.contact{
    width: 90%;
    margin: 10rem auto 3rem auto;
    background: var(--gradient-color);
}

.contact h2{
    font-size: var(--heading-2-size);
    color: var(--color-white);
}

.contact input,textarea{
    width: 100%;
    margin-top: 2rem;
    display: block;
}

.contact label{
    color: var(--color-white);
}

.contact button{
    display: block;
    margin: 1rem auto;
    padding: 1.5rem;
    width: 40%;
}

.contact button:hover{
    transform: translateY(-.5rem);
    box-shadow: var(--box-shadow);
}

.contact button:active{
    transform: translateY(0);
    background-color: var(--primary-color2);
}

.contact img{
    /* width: 100%; */
}

/* End Contact Area */


@media all and (min-width: 922px) and (max-width: 1200px){
    .header_area .main-menu .navbar{
        margin-top: 1rem;
        padding: 1rem 3rem;
    }

    .main .banner{
        height: 65vh;
        padding: 2rem 20rem;
    }

    .about{
        margin-top: var(--gap-lg);
    }

    .btn{
        margin-top: var(--gap-small);
        font-size: 90%;
    }
}

@media all and (min-width: 768px) and (max-width: 922px){
    .header_area .main-menu .navbar{
        margin-top: 1rem;
        padding: 1rem 3rem;
    }

    .main .banner{
        height: 60vh;
        padding: 2rem 15rem;
    }

    .about{
        margin-top: var(--gap-lg);
    }

    .btn{
        margin-top: var(--gap-small);
        width: 80%;
    }
}

@media all and (min-width: 576px) and (max-width: 768px){
    .header_area .main-menu .navbar{
        margin-top: 2rem;
        padding: 1rem 2rem;
    }

    .main .banner{
        height: 55vh;
        padding: 2rem 10rem;
    }

    .about{
        margin-top: var(--gap-lg);
        display: flex;
        flex-direction: column;
    }

    .btn{
        margin-top: var(--gap-small);
        width: 80%;
    }

    .contact-img{
        display: none;
    }
}

@media all and (max-width: 576px) and (min-width: 375px){
    .header_area .main-menu .navbar{
        margin-top: 2rem;
        padding: 1rem 2rem;
    }

    .main .banner{
        height: auto;
        padding: 2rem 8rem;
    }
    
    .about .button{
        width: 100%;
    }

    .about-img{
        width: 80%;
        margin: 0 auto;
    }

    .btn{
        margin-top: var(--gap-small);
        width: 80%;
    }

    .contact-img{
        display: none;
    }
}

/* ====================Thank you page==================== */
.thank-page{
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.thank-content{
    width: 80%;
    text-align: center;
}

.thank-h1{
    font-size: 6rem;
}

.thank-para{
    font-size: 2rem;
}

.back-arrow{
    position: fixed;
    top: 4rem;
    left: 4rem;
    color: var(--color-black);
}

.back-arrow:hover{
    color: var(--primary-color);
}

@media all and (max-width: 992px){
    .thank-content{
        width: 100%;
    }
}