/* CSS variables */
@import url(./partials/_variables.css);
/* Global styling */
@import url(./partials/_global.css);
/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500;700&display=swap');

/* Navigation */
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link{
    font: 500 15px/2px var(--roboto-mono);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active{
   background: var(--gradient-color);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_area .main-menu .navbar-nav :hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

/* End Navigation */

/* Banner Area */
.main .banner{
    padding: 2rem 20rem;
}
.main .banner-title h3{
    padding-top: 10%;
    font-weight: 400;
}

.main .banner-title h1{
    font-size: 3.5rem;
}

.main .banner-title h4{
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

/* End Banner Area */

/* About Area */
/* .main .about{
    padding: 8rem 5rem;
} */

.main .about-title h2>span{
    display: block;
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: 21px;
}

.main .about-title .paragraph>p{
    padding-top: .4rem;
}
/* End About Area */

/* Skills Area */
.skills{
    background: var(--primary-color2);
}
/* End Skills Area */
