/* Global classes */
.logo{
    font-family: 'Bungee Inline', cursive;
    font-size: 2rem;
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section{
    padding: 1.5rem 5rem;
}

.button, .inactive-btn{
    font: 500 16px/20px var(--roboto-mono);
    padding: 1rem;
    position: center;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition :background-color 0.5s ease;
    box-shadow: var(--box-shadow);
}

.button:hover, .inactive-btn, .inactive-btn:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: var(--color-black);
    border-color: var(--gradient-color);
    border-radius: 4px;
}

p.para{
    color: var(--color-grey);
}

.social{
    position: fixed;
    top: 45vh;
    left: 4rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.3);
    border-radius: 4rem;
    transition: all .5s;
}

.social:hover{
    box-shadow: var(--box-shadow);
}

.social__img{
    padding: 2rem;
}

.social__img:hover{
    transform: scale(1.5);
    transition: all .3s;
}

.inactive-img{
    background-image: var(rgba(--color-grey, 0.8),
        url(../img/wedding-small.jpg));
        background-size: cover;
}

@media all and (max-width: 576px){
    .social{
        position: fixed;
        top: 95vh;
        left: 35%;
        display: flex;
        flex-direction: row;
    }

    .button{
        font-size: 1.5rem;
    }
}